/* font-family: 'Noto Sans KR', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");

/* Pretendard */
@font-face {
    font-family: "Pretendard";
    font-weight: 900;
    font-display: swap;
    src: local("Pretendard Black"),
        url("./Pretendard/Pretendard-Black.woff2") format("woff2"),
        url("./Pretendard/Pretendard-Black.woff") format("woff");
}

@font-face {
    font-family: "Pretendard";
    font-weight: 800;
    font-display: swap;
    src: local("Pretendard ExtraBold"),
        url("./Pretendard/Pretendard-ExtraBold.woff2") format("woff2"),
        url("./Pretendard/Pretendard-ExtraBold.woff") format("woff");
}

@font-face {
    font-family: "Pretendard";
    font-weight: 700;
    font-display: swap;
    src: local("Pretendard Bold"),
        url("./Pretendard/Pretendard-Bold.woff2") format("woff2"),
        url("./Pretendard/Pretendard-Bold.woff") format("woff");
}

@font-face {
    font-family: "Pretendard";
    font-weight: 600;
    font-display: swap;
    src: local("Pretendard SemiBold"),
        url("./Pretendard/Pretendard-SemiBold.woff2") format("woff2"),
        url("./Pretendard/Pretendard-SemiBold.woff") format("woff");
}

@font-face {
    font-family: "Pretendard";
    font-weight: 500;
    font-display: swap;
    src: local("Pretendard Medium"),
        url("./Pretendard/Pretendard-Medium.woff2") format("woff2"),
        url("./Pretendard/Pretendard-Medium.woff") format("woff");
}

@font-face {
    font-family: "Pretendard";
    font-weight: 400;
    font-display: swap;
    src: local("Pretendard Regular"),
        url("./Pretendard/Pretendard-Regular.woff2") format("woff2"),
        url("./Pretendard/Pretendard-Regular.woff") format("woff");
}

@font-face {
    font-family: "Pretendard";
    font-weight: 300;
    font-display: swap;
    src: local("Pretendard Light"),
        url("./Pretendard/Pretendard-Light.woff2") format("woff2"),
        url("./Pretendard/Pretendard-Light.woff") format("woff");
}

@font-face {
    font-family: "Pretendard";
    font-weight: 200;
    font-display: swap;
    src: local("Pretendard ExtraLight"),
        url("./Pretendard/Pretendard-ExtraLight.woff2") format("woff2"),
        url("./Pretendard/Pretendard-ExtraLight.woff") format("woff");
}

@font-face {
    font-family: "Pretendard";
    font-weight: 100;
    font-display: swap;
    src: local("Pretendard Thin"),
        url("./Pretendard/Pretendard-Thin.woff2") format("woff2"),
        url("./Pretendard/Pretendard-Thin.woff") format("woff");
}

/* 넥슨 Lv.1 고딕 */
@font-face {
    font-family: "NEXON Lv1 Gothic OTF";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Light.woff")
        format("woff");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "NEXON Lv1 Gothic OTF";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff")
        format("woff");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "NEXON Lv1 Gothic OTF";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF Bold.woff")
        format("woff");
    font-weight: 700;
    font-style: normal;
}
/* 배민 주아체 */
@font-face {
    font-family: "Jua";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Paperlogy";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-7Bold.woff2")
        format("woff2");
    font-weight: 700;
    font-style: normal;
}




@font-face {
    font-family: "Spoqa Han Sans Neo";
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: "Spoqa Han Sans Neo";
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Spoqa Han Sans Neo";
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Spoqa Han Sans Neo";
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}