/* header */
.global_header {
  position: fixed;
  top: 0;
  z-index: 999999999;
  width: 100%;

  transition: 0.45s;
  box-sizing: border-box;
  border-bottom: 1px solid transparent;
  background: transparent;
}
.global_header.on {
  border-bottom: 1px solid #a9d3c9;
  background: #fff;
}
.global_header .gnb {
  width: 90%;
  max-width: 1130px;
  margin: 0 auto;
  display: flex;
  max-height: 80px;
  min-height: 80px;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.global_header .gnb .logo {
  position: relative;
  z-index: 9999999;
}
.global_header .gnb .logo img:first-child {
  display: none;
}
.global_header.on .gnb .logo img:first-child {
  display: block;
}
.global_header .gnb .logo img:last-child {
  display: block;
}
.global_header.on .gnb .logo img:last-child {
  display: none;
}

.global_header .gnb .nav {
  display: flex;
  gap: 1.5vw;
  align-items: center;
  transition: 0.45s;
  padding: 9px 0;
  color: #fff;
  text-align: center;
  font-family: 'Open Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.64px;
  text-transform: uppercase;
  position: relative;
}
.global_header.on .gnb .nav {
  color: #303030;
  font-weight: 500;
}
.global_header .gnb .nav_menu {
  box-sizing: border-box;
  padding: 10px 0;
}
.global_header .gnb .nav_menu a {
  display: flex;
  align-items: center;
  gap: 10px;
  text-align: center;
}

.global_header .gnb .nav:after {
  display: block;
  position: absolute;
  content: '';
  width: 6px;
  height: 6px;
  background: var(--main);
  border-radius: 100%;
  bottom: 0;
  left: var(--w, 0);
  opacity: 1;
  transition: 0.6s all ease;
}
.global_header .gnb .nav.off:after {
  opacity: 0;
}

.burger,
.mnav_wrap {
  display: none;
}
[class*='ico'] {
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/* 모바일네비 */
.mnav_wrap {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0;
  transform: translateX(100%);
  transition: 0.3s;
  background: #fff;
  z-index: 99999;
}

.mnav_wrap::-webkit-scrollbar {
  display: none;
}

/* Firefox */
.mnav_wrap {
  scrollbar-width: none;
}

/* IE, Edge */
.mnav_wrap {
  -ms-overflow-style: none;
}

.mnav_wrap.on {
  transform: translateX(0);
}

@media screen and (max-width: 1024px) {
  .global_header {
    min-height: 60px;
    display: flex;
    align-items: center;
  }
  .global_header .gnb {
    justify-content: space-between;
    min-height: 53px;
    max-height: 53px;
  }

  .global_header .gnb .logo {
    max-width: 150px;
  }
  .global_header .gnb .logo a {
    position: relative;
  }

  .mnav_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-y: auto;
    padding: 0 50px;
  }

  .mnav_wrap .top {
    display: flex;
    justify-content: space-between;
    min-height: 60px;
    align-items: center;
    padding: 0 5vw;
    margin-bottom: 35px;
  }

  .mnav_wrap .mnav_menu {
    color: #303030;
    font-family: 'Open Sans';
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.8px;
    text-transform: uppercase;
  }
  .mnav_wrap .mnav_menu:not(:last-child) {
    margin-bottom: 30px;
  }
  .mnav_wrap .mnav_menu span::after {
    content: '';
    display: block;
    width: 24px;
    aspect-ratio: 1/1;
    background: url('/img/common/mnav_arrow.png') center center / 100% no-repeat;
    transition: 0.3s;
  }

  .mnav_menu a.on span::after {
    transform: rotate(180deg);
  }

  .mnav_wrap .mdrop {
    display: none;
  }

  .mnav_wrap .mdrop_menu {
    color: var(--grayscale-60001, #525252);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.32px;
    border-bottom: 1px solid var(--grayscale-20003, #e5e5e5);
    background: var(--grayscale-10001, #f5f5f5);
  }
  .mnav_wrap .mdrop_menu a {
    padding: 15px 5vw;
    display: block;
    box-sizing: border-box;
  }
  .mnav_wrap .link_footer {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 5vw;
    gap: 10px;
  }
  .mnav_wrap .link_footer a {
    border-radius: 99px;
    text-align: center;
    background: var(
      --Blue-2,
      linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
      #0069ff
    );
    color: #fff;
    font-size: 15px;
    padding: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.3;
    letter-spacing: -0.32px;
  }

  .burger {
    background: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    gap: 6px;
    position: relative;
    z-index: 9999999;
    padding: 11px 3px;
  }

  .global_header .burger {
    position: relative;
  }
  .global_header .burger span {
    width: 26px;
    height: 2px;
    background: #303030;
    transition: 0.3s;
  }
  .global_header .burger span:nth-child(2) {
    width: 16px;
  }
  .global_header .burger.on span:first-child {
    transform: translateY(4px) rotate(-45deg);
  }
  .global_header .burger.on span:nth-child(2) {
    transform: translateY(-4px) rotate(45deg);
    width: 26px;
  }
  .global_header .gnb .nav {
    display: none;
  }
}
